.board {
  --spacing-board: 16px;

  display: grid;
  grid-template-columns: repeat(5, minmax(120px, 1fr));
  align-items: center;
  gap: var(--spacing-board);
  width: 100vw;
  padding: var(--spacing-board);
}

.btn-reset {
  padding: 16px 24px;
  border-radius: 16px;
  background-color: #f7dc92;
  text-transform: uppercase;
  font-size: 24px;
  cursor: pointer;

  &:hover {
    background-color: #ebe1c7;
  }
}
