.card {
  --card-spacing: 16px;
  --card-font-size: 16px;

  @media (width < 1028px) {
    --card-spacing: 8px;
    --card-font-size: 12px;
  }

  box-sizing: border-box;
  border-radius: var(--card-spacing);
  width: 100%;
  aspect-ratio: 16/9;
  padding: var(--card-spacing);

  display: flex;
  align-items: center;
  background-color: #dbcdb2;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 4px 12px,
    rgba(0, 0, 0, 0.23) 0px 3px 3px;

  transition:
    transform 0.25s cubic-bezier(0.68, -1.55, 0.265, 1.55),
    box-shadow 0.25s;

  &.card--red {
    background-color: #ff0000;
  }
  &.card--blue {
    background-color: #0000ff;
  }
  &.card--assassin {
    background-color: #030303;
  }
  &.card--neutral {
    background-color: #dbcdb2;
  }
}

.card:hover {
  transform: scale(1.1);
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  cursor: pointer;
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 100%;
  height: 100%;
  gap: 4px;

  padding: 4px;
  border: 2px dashed #7d7569;
  border-radius: calc(var(--card-spacing) / 2);
}

.card__top {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 100%;
  width: 100%;
}

.card__photo {
  aspect-ratio: 2/3;
  height: 100%;
}

.card__bottom {
  background-color: white;
  padding: 4px;
  width: 100%;
  border-end-start-radius: calc(var(--card-spacing) / 2);
  border-end-end-radius: calc(var(--card-spacing) / 2);
}

.card__word {
  text-align: center;
  font-size: var(--card-font-size);
  line-height: var(--card-font-size);
  font-family: "Special Elite", Courier, monospace;
}
